/* Common styles for both orientations */
html,
body {
      background: #000;
      margin: 0;
      /* Remove default body margin */
}

#info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
}

.avt {
      max-width: 100%;
      /* Ensure the image doesn't exceed its container width */
      max-height: 100%;
      /* Ensure the image doesn't exceed its container height */
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
      object-fit: cover;
      /* Maintain aspect ratio and cover the container */
}

.t_name {
      color: #d66291;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.2);
}

.one,
.two {
      text-align: center;
      margin-top: 20px;
}

#memories {
      text-align: left;
      margin-top: 20px;
}

#memories h2 {
      color: #d66291;
      font-size: 24px;
      margin-bottom: 20px;
}

#memories ul {
      list-style-type: none;
      padding: 0;
}

#memories li {
      font-size: 18px;
      margin-bottom: 20px;
      color: #ffffff;
      background-color: #3b3b3b;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, transform 0.3s ease;
      cursor: pointer;
}

#memories li:hover {
      background-color: #555555;
      transform: scale(1.02);
}